body {
    font-family: "Manrope ",
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.ant-drawer-body {
    padding: 8px !important;
}

.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 500;
    line-height: 8px;
    font-size: 16px;
}

h1 {
    font-family: "montserrat", cursive;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.heading {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #002267FF
}

.textNormal {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.architect {
    font-family: "Architects Daughter", cursive;
}

.mont {
    font-family: "Montserrat", cursive;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}