body {
    font-family: "Manrope ",
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.ant-drawer-body {
    padding: 8px !important;
}

.architects-daughter-regular {
    font-family: "Architects Daughter", cursive;
    font-weight: 500;
    line-height: 8px;
    font-size: 16px;
}

h1 {
    font-family: "montserrat", cursive;
}

.title {
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.heading {
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #002267FF
}

.textNormal {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.architect {
    font-family: "Architects Daughter", cursive;
}

.mont {
    font-family: "Montserrat", cursive;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes appear {
    from {
        opacity: 0;
        /* clip-path: inset(100% 100% 0 0); */
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        /* clip-path: inset(0 0 0 0); */
        transform: translateX(0);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.blocks {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.reveal {
    animation: reveal linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.ant-form-item {
    margin-bottom: 0px !important;
}